/* Custom site-wide CSS */

.bowfolio-green {
  color:  #376551;
}

.landing-green-background {
  background-color: #024731;
  color: white;
  padding-top: 20px;
}

.landing-white-background {
  background-color: white;
  color: #376551;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.club-admin-margin {
  margin-bottom: 30px;
}

.ui.club-admin-label.label {
  background-color: #376551;
  color: white
}

.ui.club-admin-button.button {
  background-color: #376551;
  color: white
}
